* {
    box-sizing: border-box;
}

body {
    /* background: #e2e2e2; */
    /* background: #F09A9D; */
    max-width: 900px;
    margin: 0 auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container {
    background: #F09A9D;

    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.header {
    height: 30px;
    background: #F5CF8E;
}

.name {
    font-size: 50px;
    width: fit-content;
    background: #000;
    color: #fff;
    padding: 7px;
    border-left: 8px solid #F5CF8E;
}

.about {
    padding: 0 30px;
    font-size: 2em;
    background: #F5CF8E;
}

.icon-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 40px;
}

.icon-menu i {
    margin-left: 20px;
}

.home,
.icon-menu,
.images {
    width: 100%;
}

.image-block {
    width: 100%;
    height: 100%;
    background: #B2D6FF;
    display: flex;
    flex-wrap: wrap;
}

.block {
    padding: 10px;
    font-size: 2em;
    width: 33.3%;
    border: 2px solid #000;
}

.block hr {
    border-bottom: 3px solid;
}

@media (min-width: 768px) {
    .about {
        width: 60%;
    }
    .about p {
        border-right: 30px solid #5995DA;
    }
    .images {
        width: 40%;
    }
    .home,
    .icon-menu {
        width: 50%;
    }
    .image-block {
        position: relative;
        right: 40px;
        top: 40px;
        border: 2px solid #000;        
    }
}