.navbar a, .navbar button{
    color: #fff;
    font-family: 'Patua One', cursive;
    font-size: 17pt;
}
.navbar a:hover{

}
.devicons{
    font-size: 100px;;
}
.toolbox{
    font-family: 'Bitter', serif;
}
.back{
    background-color: yellow;   
}
.navbar{
    background-color: gray;
}
.keyboard-img{
    margin-top: 70px;
    width: 70%;
    min-width: 280px;
    max-width: 600px;
}
.info{
    background-color: yellow;
    margin-top: 65px;
    width: 170px;
}
.info-2{
    background-color: yellow;
    margin: 10px 0;
    width: 310px;
}
.name{
    font-size: 20px;
    font-family: 'Bitter', serif;
    font-size: 18pt;
}
.content{
    height: 100vh;
    display: none;
}
body{
    background-color: gray;
}   