.heading, .sub-heading{
    padding: 10px;
}
.heading{
    font-family: 'Open Sans', sans-serif;
}
.list, .about, .sub-heading{
    font-family: 'EB Garamond', serif;
}
.list{
    font-size: 20px;
}
.about{
    font-size: 20px;
}
.about-wrap{
    padding: 10px 30px;
}
a:hover {
    text-decoration: none;
    color: #fff;
}
li:hover{
    transition: 1s;
    background: #000;
}
.devicons{
    font-size: 90px;
}
#header{
     background: blue;
     height: 10px;
}
.content-wrap{
    height: 92vh;
}