.heading, .sub-heading{
    padding: 10px;
}
.heading, .tooling-title{
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
}
.sub-heading{
    font-size: 30px;
}
.list, .about, .sub-heading{
    font-family: 'EB Garamond', serif;
}
.list{
    font-size: 25px;
}
.about{
    font-size: 28px;
}
.about-wrap{
    padding: 10px 30px;
}
a:hover {
    text-decoration: none;
    color: #fff;
}
li:hover{
    transition: 1s;
    background: #000;
}
.devicons{
    font-size: 90px;
}
.devicons:hover{
    transition: .5s;
    color: blue;
}
#header{
     background: blue;
     height: 10px;
}
.content-wrap{
    height: 92vh;
}
.tooling-title{
    
}
.contact-img{
    width: 40px;
}
.contact-wrap{
    margin-top: 100px;
    margin-bottom: 30px;
}
@media screen and (max-width: 480px) {
    .heading, .sub-heading {
        text-align: center;
    }
}

/*@-webkit-keyframes blink {
    from, to { border-color: transparent }
    50% { border-color: black }
}

@-moz-keyframes blink {
    from, to { border-color: transparent }
    50% { border-color: black }
}

.blink {
    width:100px;
    height:100px;
    border-left:2px solid black;
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
}*/