
div#main {
    
    font-family: Apex Serif Bold;
    color: black;
    font-size: 1.3em;
    font-weight: 800;
    text-align: center;
    letter-spacing: 0;
    margin: 0.5em 0 0.5em 0;
}
div#div3 {
    
    font-family: DIN Alternate;
    text-align: justify;
    text-indent: 1em;
    margin: 4em 17em 0 17em;
    color: black;
    display: none;
   
}

@font-face {
    
    font-family: 'DIN Alternate';
    src: url('font/font.ttf');  
    
    font-family: Apex Serif Bold;
    src: url('font/font1.otf')
}

