
h1{
    display: none;
}

div#main {
    
    font-family: "Montserrat";
    color: black;
    font-size: 2em;
    font-weight: 800;
    text-align: center;
    letter-spacing: 0;
    margin: 0.5em 0 0.5em 0;
}
div#div3 {
    
    text-align: center;
    text-indent: 1em;
    margin: 4em 10em 0 10em;
    color: black;
    display: none;
    min-width: 125px;
    font-family: 'Roboto';
    min-width: 32%;
   
}
a{
    
   color: black;
   font-family: 'Montserrat', serif;
   font-size: 1.3em;


}
li {
    
    display: inline;
    margin: 0 .6em 0 0;
    
}
.header {
    font-family: "Montserrat";
	text-align:center;
    display: none;
	font-size: 2em;
	margin-top:1em;
	margin-left:5%;
	margin-right:5%;
}

p {
    
	font-family: 'Open Sans';
	font-size: 1em;
}
.keywords {
    
    font-family: "Montserrat";
	background-color: #333333;
	color:#fff;
	padding: 6px;
	font-size: 1.2em;
	margin-bottom: 5px;
	display:inline-block;
}
blockquote .name {
    
	font-weight:bold;
	font-family: "Montserrat";
}

@media (max-width: 500px) {
	p {
		font-size:1.2em;
	}
	blockquote {
		font-size:1.2em;
	}
	h2 {
		font-size:2.3em;
	}
	.responsive-hidden {
		display:none;
		visibility: hidden;
	}
	.responsive-show {
		display:inline;
		visibility: visible;
	}
}
